<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="meishiqiang">
    <link rel="shortcut icon" href="/img/ico/favicon32.ico" th:href="@{/img/ico/favicon32.ico}">
    <title>发布招聘</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/bootstrap-reset.css" rel="stylesheet">
    <link href="/assets/font-awesome/css/font-awesome.css" rel="stylesheet"/>
    <link rel="stylesheet" type="text/css" href="/assets/summernote/dist/summernote.min.css"/>
    <link rel="stylesheet" type="text/css" href="/assets/bootstrap-datetimepicker/css/datetimepicker.css"/>
    <link href="/css/style.css" rel="stylesheet">
    <link href="/css/style-responsive.css" rel="stylesheet"/>
    <!--[if lt IE 9]>
    <script src="/js/html5shiv.js"></script>
    <script src="/js/respond.min.js"></script>
    <![endif]-->
    <style>
        .wrapper{
            margin-bottom: 60px;
        }
    </style>
</head>
<body>
<section id="container" class="">
    <!--头部信息-->
    <header th:replace="include/header.html"></header>
    <!--侧边导航栏-->
    <aside th:replace="include/aside.html"></aside>
    <!--正文-->
    <section id="main-content">
        <section class="wrapper">
            <div class="row">
                <form method="post" id="recruitForm">
                    <!-- 封面 -->
                    <div class="col-lg-6">
                        <section class="panel">
                            <header class="panel-heading">
                                招聘详细内容
                            </header>
                            <div class="panel-body">
                                <div class="form-group">
                                    <label for="recruittablename">招聘标题</label>
                                    <input type="text" class="form-control" id="recruittablename" name="recruittablename" placeholder="请输入招聘标题">
                                </div>
                                <div class="form-group">
                                    <label for="place">工作地址</label>
                                    <input type="text" class="form-control" id="place" name="place" placeholder="输入工作的详细地址（到区、镇）">
                                </div>
                                <div class="form-group">
                                    <label for="pay">薪资情况( 5k-6k.13月薪资)</label>
                                    <input type="text" id="pay" placeholder="99k-99k.99" data-mask="99k-99k.99" class="form-control" name="pay">
                                </div>
                                <div class="form-group">
                                    <label for="requireEduDB">学历要求</label>
                                    <select class="form-control m-bot15" id="requireEduDB" name="requireEduDB">
                                        <option value="0">不限</option>
                                        <option value="1">大专</option>
                                        <option value="2">本科</option>
                                        <option value="3">硕士</option>
                                        <option value="4">博士</option>
                                    </select>
                                </div>
                            </div>
                        </section>
                    </div>
                    <!-- 职责描述 -->
                    <div class="col-lg-6">
                        <section class="panel">
                            <header class="panel-heading">
                                职责描述
                            </header>
                            <div class="panel-body">
                                <div class="panel-body">
                                    <textarea class="responsibility" id="responsibility" name="responsibility">职责描述。。。。。。</textarea>
                                </div>
                            </div>
                        </section>
                    </div>
                    <!--职位要求-->
                    <div class="col-lg-6">
                        <section class="panel">
                            <header class="panel-heading">
                                职位要求
                            </header>
                            <div class="panel-body">
                                <div class="panel-body">
                                    <textarea class="jobrequirement" id="jobrequirement" name="require">职位要求。。。。。。</textarea>
                                </div>
                            </div>
                        </section>
                    </div>
                    <!--福利待遇-->
                    <div class="col-lg-6">
                        <section class="panel">
                            <header class="panel-heading">
                                福利待遇
                            </header>
                            <div class="panel-body">
                                <div class="panel-body">
                                    <textarea class="treatment" id="treatment" name="treatment">福利待遇。。。。。。</textarea>
                                </div>
                            </div>
                        </section>
                    </div>
                    <!--福利待遇-->
                    <!--其他参数-->
                    <div class="col-lg-12">
                        <section class="panel">
                            <header class="panel-heading">
                                其他要求
                            </header>
                            <div class="panel-body row">
                                <label class="control-label col-md-3" for="requireExperience">工作经验</label>
                                <div class="col-md-4">
                                    <select class="form-control m-bot15" id="requireExperience" name="requireExperience">
                                        <option value="0" selected>不限</option>
                                        <option value="1">在校生</option>
                                        <option value="2">应届生</option>
                                        <option value="3">1年以内</option>
                                        <option value="4">1-3年</option>
                                        <option value="5">3-5年</option>
                                        <option value="6">5-10年</option>
                                        <option value="7">10年以上</option>
                                    </select>
                                </div>
                            </div>
                            <div class="panel-body row">
                                <label class="control-label col-md-3" for="starttime">开始日期</label>
                                <div class="col-md-4">
                                    <input size="16" type="text" id="starttime" name="starttime"
                                           placeholder="2021-03-01 12:00"
                                           class="form_datetime form-control">
                                </div>
                            </div>
                            <div class="panel-body row">
                                <label class="control-label col-md-3" for="endtime">结束日期</label>
                                <div class="col-md-4">
                                    <input size="16" type="text" id="endtime" name="endtime"
                                           placeholder="2021-03-01 12:00"
                                           class="form_datetime form-control">
                                </div>
                            </div>
                            <div class="panel-body row">
                                <label class="control-label col-md-3" for="classify">分类信息</label>
                                <div class="col-md-4">
                                    <input size="16" type="text" id="classify" name="classify" class="form-control"
                                           placeholder="分类信息">
                                </div>
                            </div>
                            <div class="panel-body row">
                                <label class="control-label col-md-3" for="manNumbers">招聘人数</label>
                                <div class="col-md-4">
                                    <input size="16" type="text" id="manNumbers" name="manNumbers" class="form-control"
                                           placeholder="招聘人数">
                                </div>
                            </div>
                        </section>
                        <div class="row">
                            <button class="btn btn-success btn-lg col-lg-12" type="button" id="btn_sub">发布</button>
                        </div>
                    </div>
                </form>
            </div>
        </section>
    </section>
    <!-- 页脚 -->
    <footer th:replace="include/footer.html"></footer>
</section>
<script src="/js/jquery.js"></script>
<script src="/js/jquery.scrollTo.min.js"></script><!--导航栏-下来菜单-->
<script src="/js/jquery.nicescroll.js" type="text/javascript"></script>
<script src="/js/jquery.tagsinput.js"></script>
<script src="/js/jquery.dcjqaccordion.2.7.js" class="include" type="text/javascript"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/bootstrap-switch.js"></script>
<script src="/assets/summernote/dist/summernote.min.js" type="text/javascript"></script><!--富文本编辑框-->
<script src="/assets/bootstrap-datetimepicker/js/bootstrap-datetimepicker.js"  type="text/javascript"></script><!--时间格式-->
<script src="/assets/bootstrap-inputmask/bootstrap-inputmask.min.js"  type="text/javascript"></script><!--mask-->
<script src="/js/respond.min.js"></script>
<script src="/js/slidebars.min.js"></script>
<script src="/js/common-scripts.js"></script>
<script>
    jQuery(document).ready(function () {
        // Switch
        $("[data-toggle='switch']").wrap('<div class="switch" />').parent().bootstrapSwitch();
        $(".form_datetime").datetimepicker({
            format: 'yyyy-mm-dd hh:ii',
            autoclose: true,
            todayBtn: true,
            pickerPosition: "bottom-left"
        });
        //summernote
        $('.responsibility').summernote({
            disableDragAndDrop: true,
            height: 200,
            minHeight: 200,
            maxHeight: 200,
            focus: true,
            title: false,
            toolbar: [
                ['style', ['style']],
                ['font', ['bold', 'underline']],
                ['color', ['color']],
                ['para', ['ul', 'ol', 'paragraph']]
            ]
        });
        $('.jobrequirement').summernote({
            disableDragAndDrop: true,//禁用拉动状态
            height: 200,
            minHeight: 200,
            maxHeight: 200,
            focus: true,
            title: false,
            toolbar: [
                ['style', ['style']],
                ['font', ['bold', 'underline']],
                ['color', ['color']],
                ['para', ['ul', 'ol', 'paragraph']]
            ]
        });
        $('.treatment').summernote({
            disableDragAndDrop: true, //禁用拉动状态
            height: 200,
            minHeight: 200,
            maxHeight: 200,
            focus: true,
            title: false,
            toolbar: [
                ['style', ['style']],
                ['font', ['bold', 'underline']],
                ['color', ['color']],
                ['para', ['ul', 'ol', 'paragraph']]
            ]
        });
        // http://localhost:32227/manage/recruit/pull?erId=1
        $("#btn_sub").click(function () {
            $.post("/manage/postRecruitment", $("#recruitForm").serialize(), function (data) {
                alert(data.message);
                if (data.message == "操作成功！" || data.code == 10000 || data.success) {
                    setTimeout(function(){//两秒后跳转
                        window.location.href='/manage/recruit/pull';
                    },2000);
                }
            });
        });
    });
</script>
</body>
</html>