<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>footer</title>
</head>
<body>
<style>
    .site-footer {
        color: #fff;
        background: black;
        padding: 20px 0;
        position:fixed;
        margin-top: 80px;
        bottom: 0;
        width: 100%;
        left: 0;
        right: 0;
        z-index: 99;
    }
    .text-center{
        margin-left: 225px;
    }
</style>
<!--页脚-->
<footer class="site-footer">
    <div class="text-center">
        2021 &copy; 新星幼儿园招聘网站-新乡学院.
        <a href="#" class="go-top">
            <i class="fa fa-angle-up"></i>
        </a>
    </div>
</footer>
<!--页脚-->
</body>
</html>