<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<header class="header white-bg">
    <div class="sidebar-toggle-box">
        <!--隐藏和显示左边栏-->
        <div class="fa fa-bars tooltips" data-placement="right" data-original-title="Toggle Navigation"></div>
    </div>
    <a href="/index" class="logo">NEW<span>STAR</span></a>
    <div class="top-nav ">
        <ul class="nav pull-right top-menu">
            <!--用户板块-->
            <li>
                <img alt="" src="/img/sm-img-1.jpg">
                <span class="text-info">欢迎回来</span>
                <span class="username" sec:authentication="name"></span>
                <span><a href="/logout">安全退出</a></span>
            </li>
            <!--用户板块-->
        </ul>
    </div>
</header>
</body>
</html>