<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="新星幼儿园-招聘信息">
    <meta name="author" content="meishiqiang">
    <meta name="keyword" content="幼儿园，招聘，招聘网，新星，招聘信息，求职">
    <link rel="shortcut icon" href="/img/favicon.png">
    <title>新星幼儿园-招聘信息</title>

    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/bootstrap-reset.css" rel="stylesheet">
    <link href="/assets/font-awesome/css/font-awesome.css" rel="stylesheet"/>
    <link href="/css/yamm.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
    <link href="/css/style-responsive.css" rel="stylesheet"/>
</head>
<style>
    body {
        background: #f9f9f9;
    }

    h1, h2, h3, h4, h5, b, strong {
        color: black;
    }

    #container {
        font-family: "楷体", "楷体_GB2312";
    }

    .navbar-inverse {
        background-color: black;
        border-bottom: 1px solid black;
        border-color: black;
        font-weight: 400;
    }

    .navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus, .navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:focus {
        background-color: #3c3c3e;
    }

    .inner {
        padding: 0 0 0 0;
    }

    .btn-success {
        background-color: #27381f;
        border-color: #ffffff;
    }

    .new_job_b b {
        font-size: 16px;
    }

    .new_job_b li a {
        margin-top: -0;
        text-shadow: 1px 1px 1px black;
    }

    .new-out {
        width: 388px;
        max-width: 388px;
        box-shadow: 0px 0px 5px black;
        padding: 20px 0 30px 30px;
    }

    .new-out img {
        width: 85%;
        height: 60px;
    }

    .new-out h2 {
        margin-top: 0;
        padding: 0;
    }

    .new-out h2 span {
        border-right: 3px solid #436849;
        padding-right: 10px;
    }

    .new-out p {

        padding-right: 20px;
    }

    .new-out-s {
        margin-top: 20px;
    }

    .job_detail_m {
        margin-top: 20px;
    }

    .job-detail-bottom {
        margin-top: 50px;
    }
</style>
<body class="mega-nav">
<section id="container">
    <!--头部-->
    <header class="">
        <!--导航栏-->
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button class="navbar-toggle collapsed" type="button" data-toggle="collapse"
                            data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand hidden-sm" th:href="'/index'">新星幼儿园</a>
                </div>
                <div class="navbar-collapse collapse" role="navigation">
                    <ul class="nav navbar-nav">
                        <li><a href="/index" th:href="'/index'">首页</a></li>
                        <li class="active"><a href="/job_detail" th:href="'/job_detail'">职位</a></li>
                        <li><a href="/discover" th:href="'/discover'">发现</a></li>
                        <li><a href="/information" th:href="'/information'">咨询</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right hidden-sm" sec:authorize="isAnonymous()">
                        <li><a th:href="'/login.html'">用户！请登录</a></li>
                        <li><a th:href="'/register.html'">快捷注册</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right hidden-sm" sec:authorize="isAuthenticated()">
                        <span th:text="${param.number}" hidden></span>
                        <li><a th:href="'/consumer/resume/'">简历</a></li>
                        <li>
                            <a th:href="'/consumer/personal/'">
                                <i class="fa fa-user-circle-o" aria-hidden="true"></i> :
                                <th:block sec:authentication="name"></th:block>
                            </a>
                        </li>
                        <li><a th:href="'/logout'">退出</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <!--搜索框-->
        <div class="row inner search-inner">
            <div class="col-md-12">
                <div class="input-group">
                    <input type="text" class="form-control input-lg" placeholder="搜索职位"
                           aria-describedby="sizing-addon1" id="input_search_content" required>
                    <span class="input-group-btn">
                        <button class="btn btn-success btn-lg" type="button" id="btn_search">搜索框</button>
                    </span>
                </div>
            </div>
        </div>

        <!--薪资要求-->
        <div class="row inner filter_area text-left">
            <dl class='condition-district  show-condition-district '>
                <dd>
                    <span class="h5 bold"><a th:href="'/search'" style="padding: 0px">清空筛选条件</a></span>
                </dd>
            </dl>
        </div>
        <!--学历要求-->
        <div class="row inner filter_area text-left">
            <dl class='condition-district  show-condition-district '>
                <dd>
                    <span class="h5 bold">学历要求：</span>
                    <a class="edc active" id="sel-edc-0">不限</a>
                    <a class="edc" id="sel-edc-1">大专</a>
                    <a class="edc" id="sel-edc-2">本科</a>
                    <a class="edc" id="sel-edc-3">硕士</a>
                    <a class="edc" id="sel-edc-4">博士</a>
                </dd>
            </dl>
        </div>
        <!--工作经验-->
        <div class="row inner filter_area text-left">
            <dl class='condition-district  show-condition-district '>
                <dd>
                    <span class="h5 bold">工作经验：</span>
                    <a class="condition active" id="sel-condition-0">不限</a>
                    <a class="condition" id="sel-condition-1">在校生</a>
                    <a class="condition" id="sel-condition-2">应届生</a>
                    <a class="condition" id="sel-condition-3">1年以内</a>
                    <a class="condition" id="sel-condition-4">1-3年</a>
                    <a class="condition" id="sel-condition-5">3-5年</a>
                    <a class="condition" id="sel-condition-6">5-10年</a>
                    <a class="condition" id="sel-condition-7">10年以上</a>
                </dd>
            </dl>
        </div>
        <!--发布时间-->
        <div class="row inner filter_area text-left">
            <dl class='condition-district  show-condition-district '>
                <dd>
                    <span class="h5 bold">发布时间：</span>
                    <a class="putTime active" id="sel-putTime-0">不限</a>
                    <a class="putTime" id="sel-putTime-1">一天以内</a>
                    <a class="putTime" id="sel-putTime-2">三天以内</a>
                    <a class="putTime" id="sel-putTime-3">七天以内</a>
                    <a class="putTime" id="sel-putTime-4">本月以内</a>
                    <a class="putTime" id="sel-putTime-5">一年以内</a>
                </dd>
            </dl>
        </div>
        <!--地区筛选-->
        <div class="row inner filter_area text-left">
            <dl class='condition-district  show-condition-district '>
                <dd>
                    <span class="h5 bold">地区筛选：</span>
                    <a class="place active" id="sel-business-12">不限</a>
                    <a class="place" id="sel-business-0">金水区</a>
                    <a class="place" id="sel-business-1">管城回族区</a>
                    <a class="place" id="sel-business-2">中原区</a>
                    <a class="place" id="sel-business-3">二七区</a>
                    <a class="place" id="sel-business-4">新郑市</a>
                    <a class="place" id="sel-business-5">惠济区</a>
                    <a class="place" id="sel-business-6">中牟县</a>
                    <a class="place" id="sel-business-7">荥阳市</a>
                    <a class="place" id="sel-business-8">新密市</a>
                    <a class="place" id="sel-business-9">巩义市</a>
                    <a class="place" id="sel-business-10">上街区</a>
                    <a class="place" id="sel-business-11">登封市</a>
                </dd>
            </dl>
        </div>

    </header>
    <!--头部-->

    <!--正文-->
    <section>
        <section class="container">
            <div class="row">
                <div class="job_detail_m">

                </div>
                <div class="col-md-8">
                    <div class="row">
                        <th:block th:if="${recommendData!=null}" th:each="data,star:${recommendData}"
                                  th:object="${data}">
                            <div class="col-md-12">
                                <div class="job-primary">
                                    <div class="info-primary">
                                        <div class="primary-wrapper">
                                            <div class="primary-box"
                                                 href="/job_detail/dcc6a6adfe92bdc81nVz3dm5F1dV.html">
                                                <div class="job-title">
                                                    <span class="job-name">
                                                        <a th:href="'/job_detail/'+*{id}+'.html'"
                                                           th:title="*{recruittablename}" target="_blank"
                                                           th:text="*{recruittablename}+'&nbsp;&nbsp;&nbsp;&nbsp;'">招聘标题</a></span>

                                                    <span class="job-area-wrapper">
                                                        <span class="job-area"
                                                              th:text="*{#strings.abbreviate(place,12)}">地址信息</span>
                                                    </span>
                                                    <span class="job-pub-time"
                                                          th:text="*{#strings.substring(starttime,5,#strings.length(starttime))}">发布时间</span>
                                                </div>
                                                <div class="job-limit clearfix">
                                                    <span class="red" th:text="*{pay}">薪资情况</span>
                                                    <p>
                                                        <em class="vline"></em>
                                                        工作经验:
                                                        <th:block
                                                                th:text="*{requireExperience=='0' ? '不限':requireExperience=='1' ?'在校生':requireExperience=='2'?'应届生':requireExperience=='3'?'1年以内':requireExperience=='4'?'1-3年':requireExperience=='5'?'3-5年':requireExperience=='6'?'5-10年':'10年以上'}">
                                                            工作经验
                                                        </th:block>
                                                        <em class="vline"></em>
                                                        学历要求:
                                                        <th:block
                                                                th:text="*{requireEduDB=='0' ? '不限':requireEduDB=='1' ?'大专':requireEduDB=='2'?'本科':requireEduDB=='3'?'硕士':'博士'}">
                                                            学历要求
                                                        </th:block>
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="info-append clearfix">
                                        <div class="tags">
                                            <span class="tag-item">分布式技术</span>
                                            <span class="tag-item">多线程</span>
                                            <span class="tag-item">消息队列</span>
                                            <span class="tag-item">Spring</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </th:block>
                    </div>
                </div>
                <div class="col-md-4 hidden-sm">
                    <div class="row">
                        <div class="new-out-s">
                            <div class="new-out">
                                <div>
                                    <img src="./img/404_icon.png" alt="服务器错误"/>
                                    <h2><span>新闻标题</span></h2>
                                    <p>&nbsp;&nbsp;&nbsp;&nbsp;基本内容,内容显示河南省郑州市管城河南省郑州市管城回...
                                        基本内容,内容显示河南省郑州市管城河南省郑州市管城回...
                                        基本内容,内容显示河南省郑州市管城河南省郑州市管城回...
                                        基本内容,内容显示河南省郑州市管城河南省郑州市管城回...。</p>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </section>
    </section>
    <!--正文-->
    <div class="job-detail-bottom">

    </div>
    <footer th:replace="footer.html"></footer>
</section>

<!-- js placed at the end of the document so the pages load faster -->
<script src="/js/jquery.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script>
    $(document).on('click', '.yamm .dropdown-menu', function (e) {
        e.stopPropagation()
    })
    $(".place").click(function (data) {
        var href = responseUrl(data, "placeId")
        // 3. 访问
        window.location.href = href;
    });

    $(".edc").click(function (data) {
        var href = responseUrl(data, "edcId")
        // 3. 访问
        window.location.href = href;
    });

    function responseUrl(data, idName) {
        // 1. 获取参数值
        // 1.1 获取地点筛选id
        var edcId = data.currentTarget.id;
        // 1.2 获取当前?后的参数值
        var paramName = window.location.search;
        var paramName = paramName.substring(1, paramName.length);
        var idName = idName + ""
        var param = "";
        var params = paramName.split("&");
        if (params.length > 0) {
            for (var x = 0; x < params.length; x++) {
                var itemStr = params[x];
                if (itemStr != "" && itemStr.search(idName) == -1) {
                    param = param + itemStr + "&";
                }
            }
        }
        // 2. 拼接href
        return '/search?' + param + idName + "=" + edcId;
    }


    $(".condition").click(function (data) {
        var href = responseUrl(data, "conditionId")
        window.location.href = href;
    });

    $(".putTime").click(function (data) {
        var href = responseUrl(data, "putTimeId");
        // 3. 访问
        window.location.href = href;
    });

</script>
<script src="/js/index.js"></script>
</body>
</html>
