<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="个人简历页面-显示个人简历、显示个人简历投递消息">
    <meta name="author" content="meishiqiang">
    <title>个人简历</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/bootstrap-reset.css" rel="stylesheet">
    <link href="/assets/font-awesome/css/font-awesome.css" rel="stylesheet"/>
    <link href="/css/style.css" rel="stylesheet">
    <link href="/css/style-responsive.css" rel="stylesheet"/>
    <!--    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" crossorigin="anonymous">-->
    <link rel="stylesheet" href="/assets/bootstrap-fileinput/css/fileinput.css"/><!--fileinput文件上传-->
</head>
<body>
<section id="container" class="">
    <!--头部-->
    <header class="">
        <!--导航栏-->
        <!--导航栏-->
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button class="navbar-toggle collapsed" type="button" data-toggle="collapse"
                            data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand hidden-sm" th:href="'/index'">新星幼儿园</a>
                </div>
                <div class="navbar-collapse collapse" role="navigation">
                    <ul class="nav navbar-nav">
                        <li><a href="/index" th:href="'/index'">首页</a></li>
                        <li><a href="/job_detail" th:href="'/job_detail'">职位</a></li>
                        <li><a href="/discover" th:href="'/discover'">发现</a></li>
                        <li><a href="/information" th:href="'/information'">咨询</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right hidden-sm" sec:authorize="isAnonymous()">
                        <li><a th:href="'/login.html'">用户！请登录</a></li>
                        <li><a th:href="'/register.html'">快捷注册</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right hidden-sm" sec:authorize="isAuthenticated()">
                        <span th:text="${param.number}" hidden></span>
                        <li><a th:href="'/consumer/resume/'">简历</a></li>
                        <li>
                            <a th:href="'/consumer/personal/'">
                                <i class="fa fa-user-circle-o" aria-hidden="true"></i> :
                                <th:block sec:authentication="name"></th:block>
                            </a>
                        </li>
                        <li><a th:href="'/logout'">退出</a></li>
                    </ul>
                </div>
            </div>
            </th:block>
        </div>
        <div style="height: 100px"></div>
    </header>
    <!--头部-->

    <!--正文-->
    <section>
        <section>
            <div class="container" th:object="${consumer}">
                <th:block th:if="*{resumeISNOT == 1}">
                    <div class="row position">
                        <div class="col-md-9 text-center">
                            <div class="resume_table">
                                <h1 th:utext="*{consumerResume.name}"></h1>
                            </div>
                            <hr/>
                            <div class="resume_content">
                                <th:block th:utext="*{consumerResume.htmlContent}"></th:block>
                            </div>
                        </div>
                        <div class="resume_manage">
                            <h4 class="resume_p_manage">简历管理</h4>
                            <div class="resume_operation">
                                <div class="resume_operation_table">
                                    <i class="fa fa-file-word-o"></i>&nbsp;&nbsp;&nbsp;
                                    <b th:text="*{consumerResume.name}">某某莫的简历名称</b>&nbsp;&nbsp;
                                    <a th:href="'/consumer/resume/delete/'+*{consumerResume.id}"><i class="fa fa-trash-o"></i></a>
                                </div>
                                <div>
                                    <a class="btn btn-info btn-resume" th:href="*{consumerResume.url}">
                                        <i class="fa fa-arrow-down"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;下载</a>
                                </div>
                                <div>

                                    <button class="btn btn-success btn-resume" type="button" data-toggle="modal"
                                            data-target="#kv-explorer-mp">
                                        <i class="fa fa-refresh"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;更新
                                    </button>
                                </div>
                            </div>
                            <div class="resume_set">

                            </div>
                        </div>
                    </div>
                </th:block>
                <th:block th:if="*{resumeISNOT == 0}">
                    <div class="row">
                        <div class="resume_no_login">
                            <form enctype="multipart/form-data">
                                <div class="file-loading">
                                    <input id="kv-explorer" name="resumeFile" type="file" multiple>
                                </div>
                            </form>
                        </div>
                    </div>
                </th:block>
            </div>
        </section>
    </section>
    <!--正文-->
    <!--模态框-->
    <div class="modal fade" id="kv-explorer-mp" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title" id="myModalLabel">
                        更新 简历
                    </h4>
                </div>
                <div class="modal-body">
                    <hr/>
                    <div>
                        <div class="row">
                            <div class="resume_no_login">
                                <form enctype="multipart/form-data">
                                    <div class="file-loading">
                                        <input id="kv-explorer" name="resumeFile" type="file" multiple>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal -->
    </div>
</section>
<footer th:replace="footer.html"></footer>
<!-- js placed at the end of the document so the pages load faster -->
<script src="/js/jquery.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script class="include" type="text/javascript" src="/js/jquery.dcjqaccordion.2.7.js"></script>
<script src="/js/jquery.scrollTo.min.js"></script>
<script src="/js/jquery.nicescroll.js" type="text/javascript"></script>
<script src="/assets/jquery-knob/js/jquery.knob.js"></script>
<script src="/js/respond.min.js"></script>
<script src="/js/common-scripts.js"></script>
<script src="/assets/bootstrap-fileinput/js/fileinput.js" type="text/javascript"></script><!--上传文件::插件-->
<script>
    //knob
    $(".knob").knob();
    //fileinput
    $(function () {
        /*上传个人简历 word*/
        $("#kv-explorer").fileinput({
            language: 'zh', //设置语言
            textEncoding: "UTF-8",//文本编码
            uploadUrl: "/consumer/resume/upload/", //上传的地址
            allowedFileExtensions: ["doc", "docx"], //接收的文件后缀
            browseClass: "btn btn-primary", //按钮样式
            enctype: 'multipart/form-data',//类型
            validateInitialCount: false
        }).on('filepreupload', function (event, data, previewId, index) {
            console.log("上传之前调用该方法");
        }).on('fileuploaded', function (event, data, previewId, index) {
            console.log("上传之后调用该方法");
            if (data.response.success == 1) {
                if (confirm(data.response.message) + ",是否刷新") {
                    window.location.reload();
                }
            }
        });
    });
</script>
</body>
</html>