<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="meishiqiang">
    <title>个人资料</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/bootstrap-reset.css" rel="stylesheet">
    <link href="/assets/font-awesome/css/font-awesome.css" rel="stylesheet"/>
    <link href="/css/style.css" rel="stylesheet">
    <link href="/css/style-responsive.css" rel="stylesheet"/>
</head>
<body>
<section id="container" class="">
    <!--头部-->
    <header th:replace="header.html"></header>

    <!--正文-->
    <section>
        <section style="margin-top: 100px">
            <div class="container">
                <div class="row position">
                    <div>
                        <!--个人 侧标栏-->
                        <aside class="profile-nav col-lg-3">
                            <section class="panel" th:object="${data.queryResult.object}">
                                <div class="user-heading round">
                                    <a href="#">
                                        <th:block th:if="*{consumerURL== null}">
                                            <img src="/img/profile-avatar.jpg" alt="头像">
                                        </th:block>
                                        <th:block th:if="*{consumerURL!= null}">
                                            <img th:src="*{consumerURL}" alt="头像">
                                        </th:block>
                                    </a>
                                    <h1 th:text="*{consumerName}">meishiqiang</h1>
                                    <p th:text="*{consumerEmail}== null?'':*{consumerEmail}">13243038531@163.com</p>
                                    <p th:text="*{consumerCellPhone}== null?'':*{consumerCellPhone}">13243038531</p>
                                </div>

                                <ul class="nav nav-pills nav-stacked">
                                    <li class="active"><a th:href="'/consumer/personal/'"> <i class="fa fa-user"></i>
                                        个人资料</a></li>
                                    <li><a th:href="'/consumer/personalEdit/'"> <i class="fa fa-edit"></i> 编辑个人资料</a>
                                    </li>
                                </ul>
                            </section>
                        </aside>
                        <!--个人 侧标栏-->
                        <!--个人资料-->
                        <aside class="profile-info col-lg-9">
                            <section class="panel" th:object="${data.queryResult.object}">
                                <div class="bio-graph-heading">
                                    <span th:text="*{consumerSignature}==null?'这家伙很懒，什么都没有留下！！！！！！':*{consumerSignature}"></span>
                                </div>
                                <div class="panel-body bio-graph-info">
                                    <h1>资料信息</h1>
                                    <div class="row">
                                        <div class="bio-row">
                                            <p><span>名字 </span>: <span th:if="*{consumerName != null}"
                                                                       th:text="*{consumerName}">梅士强</span></p>
                                        </div>
                                        <div class="bio-row">
                                            <p><span>昵称 </span>: <span th:if="*{consumerNickname != null}"
                                                                       th:text="*{consumerNickname}">梅小二</span></p>
                                        </div>
                                        <div class="bio-row">
                                            <p><span>现居地址 </span>: <span th:if="*{consumerAddress != null}"
                                                                         th:text="*{consumerAddress}">河南省郑州市管城回族区南三环道路</span>
                                            </p>
                                        </div>
                                        <div class="bio-row">
                                            <p><span>生日</span>: <span th:if="*{consumerBirthday != null}"
                                                                      th:text="*{consumerBirthday}">1997-07-03 04:06</span>
                                            </p>
                                        </div>
                                        <div class="bio-row">
                                            <p><span>邮箱 </span>: <span th:if="*{consumerEmail != null}"
                                                                       th:text="*{consumerEmail}">13243038531@163.com</span>
                                            </p>
                                        </div>
                                        <div class="bio-row">
                                            <p><span>手机号 </span>: <span th:if="*{consumerCellPhone != null}"
                                                                        th:text="*{consumerCellPhone}">13243038531</span>
                                            </p>
                                        </div>
                                        <div class="bio-row">
                                            <p><span>身份 </span>: <span th:if="*{consumerStatus != null}"
                                                                       th:text="*{consumerStatus}">学生</span></p>
                                        </div>
                                        <div class="bio-row">
                                            <p><span>加入日期 </span>: <span th:if="*{consumerJoinDay != null}"
                                                                         th:text="*{consumerJoinDay}">2021-02-08 16:32:53</span>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </section>
                            <section>
                                <div class="bio-graph-heading">
                                    <span>招聘/留言信息管理中心 </span>
                                </div>
                                <!--职位信息-->
                                <div class="row">
                                    <div class="panel-body">
                                        <table class="table table-hover p-table">
                                            <thead>
                                            <tr>
                                                <th>职位名称</th>
                                                <th>类型</th>
                                                <th>薪资</th>
                                                <th>招聘地址</th>
                                                <th>投递状态</th>
                                                <th>面试结果</th>
                                                <th>详情</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <th:block th:if="${data.queryResult.object.recruitAndConsumerDOS!=null}"
                                                      th:each="rc,star:${data.queryResult.object.recruitAndConsumerDOS}">
                                                <tr>
                                                    <td><th:block th:text="${rc.recruitTitle}"></th:block></td>
                                                    <td> <th:block th:text="${rc.recruitClassify}"></th:block></td>
                                                    <td><th:block th:text="${rc.recruitPay}"></th:block></td>
                                                    <td><th:block th:text="${rc.recruitPlace}"></th:block></td>
                                                    <td>
                                                        <span class="label label-info" th:text="${rc.toudiStatus=='0'?'正在审核':'已通过'}">Completed</span>
                                                    </td>
                                                    <td>
                                                        <th:block th:if="${rc.result == null or rc.result == '0'}">
                                                            <a th:href="'/manage/recruit/resume/interview/'+${rc.consumerId}+'/'+ ${rc.recruitId}">
                                                                请耐心等候!
                                                            </a>
                                                        </th:block>
                                                        <th:block th:if="${rc.result == '1'}">
                                                            已通过
                                                        </th:block>
                                                    </td>
                                                    <td>
                                                        <a th:href="'/job_detail/'+${rc.recruitId}+'.html'">招聘详情</a>
                                                    </td>
                                                </tr>
                                            </th:block>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <!--留言信息-->
                                <div class="row">
                                    <div class="panel-body">
                                        <table class="table table-hover p-table">
                                            <thead>
                                            <tr>
                                                <th>话题类型</th>
                                                <th>内容</th>
                                                <th>评论</th>
                                                <th>时间</th>
                                                <th>操作</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <th:block th:if="${topicComment!=null}"
                                                      th:each="tc,star:${topicComment}">
                                                <tr>
                                                    <td><th:block th:text="${tc.hotTopicDO.tag}"></th:block></td>
                                                    <td> <th:block th:text="${tc.hotTopicDO.tableName}"></th:block></td>
                                                    <td><th:block th:text="${tc.content}"></th:block></td>
                                                    <td><th:block th:text="${tc.date}"></th:block></td>
                                                    <td>
                                                        <a th:href="'/discover/wenti/'+${tc.hotTopicDO.id}">招聘详情</a>
                                                    </td>
                                                </tr>
                                            </th:block>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </section>
                        </aside>
                        <!--个人资料-->
                    </div>
                </div>
            </div>

        </section>
    </section>
    <!--正文-->
</section>
<footer th:replace="footer.html"></footer>
<!--js文件-->
<script src="/js/jquery.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script class="include" type="text/javascript" src="/js/jquery.dcjqaccordion.2.7.js"></script>
<script src="/js/jquery.scrollTo.min.js"></script>
<script src="/js/jquery.nicescroll.js" type="text/javascript"></script>
<script src="/assets/jquery-knob/js/jquery.knob.js"></script>
<script src="/js/respond.min.js"></script>
<script src="/js/common-scripts.js"></script>

<script>
    //knob
    $(".knob").knob();

</script>


</body>
</html>